---
import Footer from '@/components/Footer.astro'
import { Selected } from '@/components/Selected.tsx'
import { SELECTED_HEADER_INFO } from '@/data/CONSTANTS'
import Layout from '@/layouts/Layout.astro'
import Main from '@/components/Main.astro'
import { GoogleSpreadsheet } from 'google-spreadsheet'
import DoodleLine from '@/components/ui/DoodleLine.astro'
import Header from '@/components/Header.astro'
import { BackToTop } from '@/components/BackToTop'

const doc = new GoogleSpreadsheet(import.meta.env.SELECTED_SHEET_ID, {
  apiKey: import.meta.env.GOOGLE_API_KEY,
})

await doc.loadInfo()
const sheet = doc.sheetsByIndex[2]
const rows = await sheet.getRows()

const parsedRows = rows
  .map((row) => {
    return {
      work_area: row.get(SELECTED_HEADER_INFO.CATEGORY),
      name: row.get(SELECTED_HEADER_INFO.NICK),
      social_media: row.get(SELECTED_HEADER_INFO.SOCIAL_MEDIA),
    }
  })
  .filter((row) => !!row.name)
---

<Layout title="Seleccionados Frijol M치gico 2024">
  <BackToTop client:load />
  <Header title="Selecci칩n" subTitle="Frijol M치gico 2024">
    Descubre a los exponentes que dieron vida a la 칰ltima edici칩n
    <br />
    <b>Festival Frijol M치gico: Un nuevo germinar 游꺔</b>
  </Header>
  <DoodleLine />
  <Main class="min-h-[50dvh]">
    <Selected rows={parsedRows} client:idle />
  </Main>
  <DoodleLine />
  <Footer />
</Layout>
