@import './palettes/base.css';
@import './palettes/festivales-2025.css';
@import 'tailwindcss';

@theme {
  --font-noto: 'Noto Sans', sans-serif;
  --font-josefin: 'Josefin Sans', sans-serif;
  --font-superfortress: 'Superfortress', sans-serif;
}

@theme {
  --animate-card-slides: card-slides 12s linear infinite;
  --animate-soft-bounce: soft-bounce 5s ease-in-out infinite;

  @keyframes card-slides {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc((-128px - 8px) * 4));
    }
  }

  @keyframes soft-bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
}

/* prettier-ignore */
@utility text-stroke-* {
  -webkit-text-stroke-width: --value(integer)px;
  -webkit-text-stroke-color: --value(--color-*);
}

@layer utilities {
  .mirror-x {
    transform: scaleX(-1);
  }

  .mirror-none {
    transform: scaleX(1);
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
