@import "@styles/main.css";

/*  ------- SHADOWS ------- */

.simply-section,
.instagram-gallery-medium,
.fb__box,
.blog__iframe,
.ilus__list {
    box-shadow: 0.8rem 0.8rem var(--pink-normal);
    transition: 300ms;
    transition-property: box-shadow, transform;
}

/*  ------- ANIMATIONS ------- */

.main__container,
.main__title,
#countdown,
.side__box,
.blog__iframe,
.instagram-gallery-medium,
.fb__box,
.blog__box::after,
.ilus__box::after, 
.ig__box::after, 
.fb__box-container::after {
    animation: showUp 600ms backwards;
}

.main_title {
    animation-delay: 400ms;
}
#countdown {
    animation-delay: 400ms;
}
.instagram-gallery-medium {
    animation-delay: 1s;
}
.fb__box {
    animation-delay: 1.6s;
}
.side__box {
    animation-delay: 2.2s;
}

.blog__box::after,
.ilus__box::after, 
.ig__box::after, 
.fb__box-container::after {
   animation-delay: 2.6s;
}

/*  ------- TITLE BOX ------- */

.blog__box::after,
.ilus__box::after, 
.ig__box::after, 
.fb__box-container::after {
    color: white;
    font-size: 4rem;
    font-family: var(--ff-title-sketch);
    text-shadow: 0.4rem 0.4rem var(--pink-normal);
    transform: rotate(-90deg);
    align-self: center;
    justify-self: start;
    z-index: -1;
}
/*  
    ------------- 
       GENERAL
    ------------- 
*/

.main__container {
    margin: 12rem auto 6rem;
}

/*  
    ------------- 
        TITLE 
    ------------- 
*/

.main__header {
    margin: 0 auto;
    max-width: 700px;
}

.main__title {
    font-size: 6rem;
    text-align: center;
    text-shadow: 0.4rem 0.4rem var(--pink-normal);
    margin: 2rem 1.5rem;
}

/*  
    ------------- 
       BOXES
    ------------- 
*/

/*  ------- GENERAL ------- */

.box__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5rem;
}

.side__box {
    width: 28rem;
    height: 45rem;
    margin: 1rem;
}

.center__box {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.blog__box {
    order: 2;
    margin: 1rem 1rem 3rem;
    display: grid;
    grid-template-areas: 'blog';
}
.blog__iframe {
    background-color: white;
    border: none;
    overflow: hidden;
    grid-area: blog;
}
.blog__box::after {
    content: 'BLOG';
    grid-area: blog;
    margin-left: -6.6rem;
}

.ilus__box {
    order: 3;
    margin: 3rem 1rem 1rem;
    display: grid;
    grid-template-areas: 'galeria';
}
.ilus__list {
    background-color: white;
    border: none;
    overflow: hidden;
    grid-area: galeria;
}
.ilus__box::after {
    content: 'GALERIA';
    grid-area: galeria;
    margin-left: -9.2rem;
}
/*  ------- CENTER BOX ------- */

.rrss__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem 0;
}

.ig__box {
    width: 28rem;
    height: 28rem;
    margin: 1rem 1rem 3rem;
    display: grid;
    grid-template-areas: 'instagram';
}
.ig__box::after {
    content: 'INSTAGRAM';
    grid-area: instagram;
    margin-left: -12.2rem;
}
#ig_feed {
    grid-area: instagram;
}

.fb__box-container {
    width: 28rem;
    height: 28rem;
    margin: 3rem 1rem 1rem;
    display: grid;
    grid-template-areas: 'facebook';
}
.fb__box {
    grid-area: facebook;
}
.fb__box-container::after {
    content: 'FACEBOOK';
    grid-area: facebook;
    margin-left: -11.4rem;
}

/*  ------- COUNTDOWN ------- */

#countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.simply-section {
    background: white;
    color: var(--blue-normal);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13rem;
    height: 13rem;
    margin: 1rem;
}

.simply-amount {
    display: block;
    font-family: var(--ff-text-bold);
    text-align: center;
    font-size: 4rem;
}

.simply-word {
    font-size: 2rem;
}

/*  ------- INSTAGRAM FEED ------- */

.instagram-gallery-medium {
    background-color: white;
    display: flex;
    grid-area: instagram;
}

.instagram-gallery-medium > a {
    width: 28rem;
    height: 28rem;
    overflow: hidden;
}

.instagram-gallery-medium > a > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ig_img {
    background-image: url(../assets/images/instagram.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12rem 12rem;
    transition: opacity 0.2s, visibility 0.2s;
    margin-left: -28rem;
}

/*  
    ------------- 
    MEDIA QUERIES
    ------------- 
*/

/*  ------- TABLETS ------- */

@media screen and (min-width: 600px) {
    .ig_img {
        visibility: hidden;
        opacity: 0;
    }
    #ig_feed:hover .ig_img {
        visibility: visible;
        opacity: 1;
    }

    .ig__box {
        margin: 1rem;
    }

    .fb__box-container {
        margin: 1rem;
    }

    .blog__box {
        margin: 1rem;
    }

    .ilus__box {
        margin: 1rem;
    }

    .blog__box::after {
        margin-left: -7.2rem;
    }

    .ilus__box::after {
        margin-right: -12.8rem;
        transform: rotate(90deg);
        justify-self: end;
    }
    .ig__box::after {
        margin-left: -12.8rem;
    }

    .fb__box-container::after {
        margin-right: -12.8rem;
        transform: rotate(90deg);
        justify-self: end;
    } 
}

/*  ------- DESKTOP ------- */

@media screen and (min-width: 1360px) {
    .main__container {
        margin: 5% auto 10vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /*  ------- GENERAL ------- */

    .box__container {
        flex-wrap: nowrap;
        max-width: 1300px;
        width: 100%;
        margin-bottom: 0;
    }

    .side__box {
        width: 50rem;
        height: 45rem;
    }

    .center__box {
        order: 2;
    }

    .blog__box {
        order: 1;
    }

    .ilus__box {
        order: 3;
    }

    .blog__box::after {
        margin-left: -5.6rem;
    }

    .ilus__box::after {
        margin-right: -8.5rem;
        transform: rotate(90deg);
        justify-self: end;
    }
    .ig__box::after {
        margin-left: -11.2rem;
    }

    .fb__box-container::after {
        margin-right: -11rem;
        transform: rotate(90deg);
        justify-self: end;
    }  
    /*  ------- CENTER BOX ------- */

    .rrss__box {
        margin: 2vh 0 0;
    }

    /*  ------- GENERAL HOVER ------- */

    .simply-section:hover,
    .instagram-gallery-medium:hover,
    .fb__box:hover,
    .blog__iframe:hover,
    .ilus__list:hover {
        box-shadow: 1.4rem 1.4rem var(--pink-normal);
        transform: translate(-0.4rem, -0.4rem);
        transition: 100ms;
        transition-property: box-shadow, transform;
    }
}

@media screen and (min-width: 1400px) {

    .blog__box::after {
        margin-left: -7.2rem;
    }

    .ilus__box::after {
        margin-right: -10rem;
        transform: rotate(90deg);
        justify-self: end;
    }
    .ig__box::after {
        margin-left: -12.8rem;
    }

    .fb__box-container::after {
        margin-right: -12.8rem;
        transform: rotate(90deg);
        justify-self: end;
    } 
}
