@import "@styles/main.css";

/*  ------- SHADOWS ------- */

.simply-section,
.instagram-gallery-medium,
.fb__box,
.blog__iframe,
.ilus__box-container {
  -webkit-box-shadow: 0.8rem 0.8rem var(--pink-normal);
  box-shadow: 0.8rem 0.8rem var(--pink-normal);
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: -webkit-box-shadow, -webkit-transform;
  -o-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform;
}

/*  ------- ANIMATIONS ------- */

.main__container,
.main__title,
#countdown,
.side__box,
.blog__box,
.ig__box,
.fb__box-container,
.blog__box::after,
.ilus__box::after,
.ig__box::after,
.fb__box-container::after {
  -webkit-animation: showUp 600ms backwards;
  animation: showUp 600ms backwards;
}

.main__title {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
#countdown {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
.ig__box {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.fb__box-container {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.side__box {
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
}

.blog__box::after,
.ilus__box::after,
.ig__box::after,
.fb__box-container::after {
  -webkit-animation-delay: 2.6s;
  animation-delay: 2.6s;
}

/*  ------- TITLE BOX ------- */

.blog__box::after {
  content: "BLOG";
}
.ilus__box::after {
  content: "GALERÃA";
}
.ig__box::after {
  content: "INSTAGRAM";
}
.fb__box-container::after {
  content: "FACEBOOK";
}

.blog__box::after,
.ilus__box::after,
.ig__box::after,
.fb__box-container::after {
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-weight: 700;
  font-size: 3rem;
  font-family: var(--ff-title-sketch);
}

/*  
    ------------- 
       GENERAL
    ------------- 
*/

.main__container {
  margin: 12rem auto;
}

/*  
    ------------- 
        TITLE 
    ------------- 
*/

.main__header {
  margin: 0 auto;
  max-width: 700px;
}

.main__title {
  font-size: 6rem;
  text-align: center;
  text-shadow: 0.4rem 0.4rem var(--pink-normal);
  margin: 0;
}

/*  
    ------------- 
       BOXES
    ------------- 
*/

/*  ------- GENERAL ------- */

.box__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5rem;
}

.side__box {
  width: 28rem;
  height: 45rem;
  position: relative;
}

.center__box {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.blog__box {
  order: 3;
  margin: 6rem 1rem;
}

.blog__iframe {
  background-color: white;
  border: none;
  overflow: hidden;
}

.ilus__box {
  order: 2;
  margin: 6rem 1rem;
}

.ilus__box-container {
  position: relative;
  width: 28rem;
  overflow: hidden;
}

.ilus__list {
  display: flex;
  height: 45rem;
  width: 504rem;
  transition: margin-left 600ms ease;
}

.prev,
.next {
  position: absolute;
  cursor: pointer;
  font-size: 3rem;
  transition: 0.4s ease;
  user-select: none;
  align-self: center;
  text-shadow: 0 0 4rem black;
  padding: 1rem;
  top: 42%;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.prev:hover,
.next:hover {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

.ilus__slide {
  position: relative;
  height: 45rem;
  width: 28rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.ilus__slide-link {
  align-self: start;
  width: 28rem;
  text-align: center;
  margin-top: 8rem;
  background-color: #ffffff;
  position: absolute;
}

.ilus__slide-name {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: var(--ff-text-bold);
  color: var(--pink-normal);
  margin: 2rem;
}

.ilus__slide-img {
  height: 65rem;
}

/*  ------- CENTER BOX ------- */

.rrss__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ig__box {
  width: 28rem;
  height: 28rem;
  margin: 6rem 1rem;
  position: relative;
}

.fb__box-container {
  width: 28rem;
  height: 28rem;
  margin: 6rem 1rem;
  position: relative;
}

/*  ------- INSTAGRAM FEED ------- */

.instagram-gallery-medium {
  background-color: white;
  display: flex;
}

.instagram-gallery-medium > a {
  width: 28rem;
  height: 28rem;
  overflow: hidden;
}

.instagram-gallery-medium > a > video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.ig_img {
  background-image: url(../assets/images/instagram.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12rem 12rem;
  -webkit-transition: opacity 0.2s, visibility 0.2s;
  -o-transition: opacity 0.2s, visibility 0.2s;
  transition: opacity 0.2s, visibility 0.2s;
  margin-left: -28rem;
}

/*  
    ------------- 
    MEDIA QUERIES
    ------------- 
*/

/*  ------- TABLETS ------- */

@media screen and (min-width: 600px) {
  .main__title {
    max-width: 60rem;
  }

  .ig_img {
    visibility: hidden;
    opacity: 0;
  }
  #ig_feed:hover .ig_img {
    visibility: visible;
    opacity: 1;
  }
}

/*  ------- DESKTOP ------- */

@media screen and (min-width: 1360px) {
  .main__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /*  ------- GENERAL ------- */

  .box__container {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    max-width: 1300px;
    width: 100%;
    margin-bottom: 0;
  }

  .side__box {
    width: 50rem;
  }

  .center__box {
    order: 2;
    height: 45rem;
    justify-content: space-between;
  }

  .blog__box {
    order: 3;
  }

  .ilus__box {
    order: 1;
  }

  .side__box,
  .ig__box,
  .fb__box-container {
    margin: 0 1rem;
  }
  /*  ------- GENERAL HOVER ------- */

  .simply-section:hover,
  .instagram-gallery-medium:hover,
  .fb__box:hover,
  .blog__iframe:hover,
  .ilus__box-container:hover {
    -webkit-box-shadow: 1.4rem 1.4rem var(--pink-normal);
    box-shadow: 1.4rem 1.4rem var(--pink-normal);
    -webkit-transform: translate(-0.4rem, -0.4rem);
    -ms-transform: translate(-0.4rem, -0.4rem);
    transform: translate(-0.4rem, -0.4rem);
    -webkit-transition: 100ms;
    -o-transition: 100ms;
    transition: 100ms;
    -webkit-transition-property: -webkit-box-shadow, -webkit-transform;
    transition-property: -webkit-box-shadow, -webkit-transform;
    -o-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform;
  }
}
