/*  
    ------------- 
        FONTS
    ------------- 
*/
@font-face {
    font-family: "Helvetica-light";
    font-style: normal;
    font-weight: 200;
    src: local(""), url("../assets/fonts/Helvetica-light.woff2") format("woff2"),
        url("../assets/fonts/Helvetica-light.woff") format("woff");
}

@font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../assets/fonts/Helvetica.woff2") format("woff2"),
        url("../assets/fonts/Helvetica.woff") format("woff");
}

@font-face {
    font-family: "Helvetica-Bold";
    font-weight: normal;
    font-style: 700;
    src: local(""), url("../assets/fonts/Helvetica-Bold.woff2") format("woff2"),
        url("../assets/fonts/Helvetica-Bold.woff") format("woff");
}

/* cabin-sketch-regular - latin */
@font-face {
    font-family: "Cabin Sketch";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("../assets/fonts/cabin-sketch-v14-latin-regular.woff2")
            format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("../assets/fonts/cabin-sketch-v14-latin-regular.woff")
            format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cabin-sketch-700 - latin */
@font-face {
    font-family: "Cabin Sketch";
    font-style: normal;
    font-weight: 700;
    src: local(""),
        url("../assets/fonts/cabin-sketch-v14-latin-700.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("../assets/fonts/cabin-sketch-v14-latin-700.woff")
            format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*  
    ------------- 
      VARIABLES
    ------------- 
*/

:root {
    --blue-dark: #1b2433;
    --blue-normal: #0d2a66;
    --blue-normal-opa: #0d2b66f1;
    --blue-light: #346fb4;
    --pink-normal: #fa2678;
    --yellow-normal: #ffd763;

    --ff-title-sketch: "Cabin Sketch", cursive;
    --ff-text-normal: "Helvetica";
    --ff-text-light: "Helvetica-light";
    --ff-text-bold: "Helvetica-Bold";
}

/*  
    ------------- 
      ANIMATIONS
    ------------- 
*/

@keyframes showUp {
    0% {
        opacity: 0;
        z-index: -1;
    }
    100% {
        opacity: 1;
        z-index: -1;
    }
}

/*  
    ------------- 
       SVG LOGO
    ------------- 
*/

.st0 {
    fill: var(--pink-normal);
}
.st1 {
    fill: var(--blue-light);
}

/*  
    ------------- 
       GENERAL
    ------------- 
*/

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    color: white;
    font-family: var(--ff-text-light);
    font-size: 62.5%;
    letter-spacing: 0.05em;
}

body {
    display: grid;
    background: var(--blue-normal);
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

h1,
h2,
h3 {
    font-family: var(--ff-title-sketch);
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}

/*  
    ------------- 
       HEADER
    ------------- 
*/

/*  ------- LOGOTYPE ------- */

.header__container {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo__container {
    background: var(--blue-normal-opa);
    width: 100%;
    z-index: 10;
}

.logo__link {
    display: flex;
    align-items: center;
    width: 16rem;
    margin: 1rem 10vw;
}

.logo__svg {
    width: 7rem;
    height: 7rem;
}

.logo__text {
    user-select: none;
    font-size: 2.5rem;
    margin: 0 0 0 0.8rem;
}

.logo__link:hover {
    text-shadow: 0.4rem 0.4rem var(--pink-normal);
    transition: 100ms;
}

/*  ------- TOGGLE BUTTON ------- */

.nav__toggle {
    display: none;
}

.nav__toggle:checked ~ .nav__container {
    display: block;
    transform: translateY(0);
}

.nav__toggle-label {
    position: absolute;
    align-self: center;
    right: 0;
    margin: 0 10vw;
    padding: 14px 0;
    cursor: pointer;
    z-index: 10;
}

.nav__toggle-label span,
.nav__toggle-label span::before,
.nav__toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 3rem;
    border-radius: 2px;
    position: relative;
}
.nav__toggle-label span::after,
.nav__toggle-label span::before {
    content: "";
    position: absolute;
}
.nav__toggle-label span::after {
    top: 7px;
}
.nav__toggle-label span::before {
    bottom: 7px;
}
.nav__toggle-label:hover > span,
.nav__toggle-label:hover > span::after,
.nav__toggle-label:hover > span::before {
    box-shadow: 0.4rem 0.4rem var(--pink-normal);
    transition: 100ms;
}

/*  ------- NAVIGATION ------- */

.nav__container {
    background: var(--blue-normal-opa);
    position: absolute;
    width: 100vw;
    z-index: 8;
    transform: translateY(-100%);
    transition: transform 700ms ease-in-out;
}

.nav__general {
    display: flex;
    flex-flow: column wrap;
    margin: 0;
    padding: 10rem 0 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.nav__li {
    margin-bottom: 3rem;
}

.nav__a {
    display: inline-block;
    font-family: var(--ff-title-sketch);
    font-size: 4rem;
}

.nav__a:hover {
    text-shadow: 0.4rem 0.4rem var(--pink-normal);
    transition: text-shadow 100ms;
}

/*  
    ------------- 
       FOOTER
    ------------- 
*/

.footer__container {
    width: 100vw;
    position: absolute;
    bottom: 0;
}

.footer__text {
    font-size: 1.2rem;
    text-align: center;
}

/*  
    ------------- 
    MEDIA QUERIES
    ------------- 
*/

@media screen and (max-width: 991px) {
    /* start of large tablet styles */
}

@media screen and (min-width: 767px) {
    .footer__container {
        right: 0;
        margin-right: 10vw;
        width: auto;
    }
}
