@import "@styles/main.css";
@import "@styles/iluspage.css";


@media screen and (max-width: 600px) {
    .ilus-page__images {
        width: 30rem;
        height: auto;
    }
    .ilus-page__title {
        font-size: 5.8rem;
    }
}

@media screen and (min-width: 1360px) {

    .ilus__main {
        margin: 12vh auto 6vh;
    }
}




