---
import Layout from '../../layouts/Layout.astro'
---

<Layout title='Frijol Mágico | Galería de Ilustradores'>
	<main>
		<h2>En Construcción</h2>
	</main>
</Layout>

<style>
	main {
		font-size: 1.25rem;
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
</style>
