---
import Card from '@components/atoms/Card.astro'
import Heading1 from '@components/atoms/Heading1.astro'
import Section from '@components/molecules/Section.astro'
import { PARTICIPANTS } from '@data/FESTIVAL_2024'
import Layout from '@layouts/Layout.astro'
import Main from '@layouts/Main.astro'
---

<Layout bgColor="bg-[#000326]">
  <Main>
    <Heading1
      beforeTitle="Participantes"
      class="mb-20 text-right text-[#f2368d]"
    >
      Frijol Mágico <span class="text-[#f2e527]">2024</span>
    </Heading1>
    {
      Object.keys(PARTICIPANTS).map((section) => (
        <section class="h-fit w-full grid gap-4 max-w-5xl mx-auto px-4 sm:px-8">
          <h2 class="text-center text-5xl lg:text-[10rem] font-Sheiron text-[#f2e527]">
            {section.replaceAll('-', ' ')}
          </h2>
          <div class:list={['pl-2 w-full relative']}>
            <div class="flex gap-2 flex-wrap w-full mb-20 sm:mb-40 items-center justify-center">
              {PARTICIPANTS[section].map(
                ({ nick, link }: { nick: string; link: string }, index) => (
                  <p class:list={['font-galindo', 'text-2xl lg:text-5xl']}>
                    {index !== 0 && '•'}
                    <a
                      target="_blank"
                      class="inline-block hover:scale-105 duration-150 hover:text-[#4cd201]"
                      href={link}
                    >
                      {nick}
                    </a>
                  </p>
                )
              )}
            </div>
          </div>
        </section>
      ))
    }
    <Section title="" class="mb-20">
      <Card>
        <img src="/FestivalXIII.png" alt="Afiche Festival Frijol Mágico 2024" />
      </Card>
      <p class="mt-4">
        Afiche Realizado por <a
          class="text-[#f2e527] font-bold"
          href="https://www.instagram.com/manucontinta/">manucontinta</a
        >
      </p>
    </Section>
  </Main>
</Layout>
