---
import Card from '@components/atoms/Card.astro'
import Heading1 from '@components/atoms/Heading1.astro'
import Section from '@components/molecules/Section.astro'
import { PARTICIPANTS } from '@data/FESTIVAL_2024'
import Layout from '@layouts/Layout.astro'
import Main from '@layouts/Main.astro'
---

<Layout background="default">
  <Main>
    <Heading1 beforeTitle="Participantes" class="mb-20 text-right">
      Frijol Mágico 2024
    </Heading1>
    {
      Object.keys(PARTICIPANTS).map((section) => (
        <section class="h-fit w-full grid gap-4 max-w-5xl mx-auto px-4 sm:px-8">
          <h2 class="text-center text-5xl lg:text-[10rem] font-Sheiron text-s-pink">
            {section.replaceAll('-', ' ')}
          </h2>
          <div class:list={['pl-2 w-full relative']}>
            <div class="flex gap-2 flex-wrap w-full mb-20 sm:mb-40 items-center justify-center">
              {PARTICIPANTS[section].map(
                ({ nick, link }: { nick: string; link: string }, index) => (
                  <p
                    class:list={[
                      'font-galindo',
                      section === 'Música'
                        ? index === 0 || index === 1
                          ? 'text-3xl lg:text-6xl'
                          : 'text-2xl lg:text-5xl'
                        : 'text-2xl lg:text-5xl',
                    ]}
                  >
                    {index !== 0 && '•'}
                    <a
                      target="_blank"
                      class="inline-block hover:scale-105 duration-150 hover:text-s-yellow"
                      href={link}
                    >
                      {nick}
                    </a>
                  </p>
                )
              )}
            </div>
          </div>
        </section>
      ))
    }
    <Section title="" class="mb-20">
      <Card>
        <img src="/FestivalXIII.jpg" alt="Afiche Festival Frijol Mágico 2024" />
      </Card>
    </Section>
  </Main>
</Layout>
