@import 'tailwindcss';

@theme inline {
  --color-2025-orange: #b3636b;
  --color-2025-white: #fff2ee;
  --color-2025-yellow: #ffdfc4;
  --color-2025-pink: #ffa590;
  --font-superfortress: var(--font-superfortress), sans-serif;
  --animate-rock-bounce: rock-bounce 5s ease-in-out infinite;
}

@utility text-stroke-* {
  -webkit-text-stroke-width: --value(integer) px;
  -webkit-text-stroke-color: --value(--color- *);
}

@keyframes rock-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
