---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Error 404">
  <main>
    <h2>
      QUÉ BUSCABAS REALMENTE? ACÁ NO HAY NADA QUE VER, LE SOLICITO QUE VUELVA EN
      OTRO MOMENTO <br /> (Seguramente la página está en construcción u.u)
    </h2>
  </main>
</Layout>

<style>
  main {
    font-size: 1.25rem;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
</style>
