---
import Layout from "@layouts/Layout.astro";
import MainTitle from "@components/MainTitle.astro";
import FestivalSection from "@components/FestivalSection.astro";
import IlustradorxsSection from "@components/IlustradorxsSection.astro";
import Festival2021Section from "@components/Festival2021Section.astro";
import PodcastsSection from "@components/PodcastsSection.astro";
---

<Layout>
  <main class="w-full h-full py-20">
    <MainTitle />
    <article class="space-y-20 sm:space-y-32 pt-20" aria-label="Secciones">
      <FestivalSection />
      <Festival2021Section />
      <PodcastsSection />
      <IlustradorxsSection />
    </article>
  </main>
</Layout>
