---
import HomeGrid from '@/components/organisms/HomeGrid.astro'
import Layout from '@/layouts/Layout.astro'
import Main from '@/components/organisms/Main.astro'
---

<Layout title="Frijol Mágico 2024 - Un nuevo germinar">
  <Main class="h-[86dvh] sm:h-screen grid items-center">
    <HomeGrid />
  </Main>
</Layout>
