---
import Layout from '@layouts/Layout.astro'
import FestivalSection from '@components/organisms/FestivalSection.astro'
import IlustradorxsSection from '@components/organisms/IlustradorxsSection.astro'
import Festival2021Section from '@components/organisms/Festival2021Section.astro'
import PodcastsSection from '@components/organisms/PodcastsSection.astro'
import Heading1 from '@components/atoms/Heading1.astro'
import Main from '@layouts/Main.astro'
---

<Layout>
  <Main>
    <Heading1 beforeTitle="Asosiación Cultural">Frijol Mágico</Heading1>
    <article
      class="space-y-20 sm:space-y-32 pt-6 sm:pt-20"
      aria-label="Secciones"
    >
      <FestivalSection />
      <PodcastsSection />
      <Festival2021Section />
      <IlustradorxsSection />
    </article>
  </Main>
</Layout>
