---
import PodcastCard from "@components/PodcastCard.astro";
import Section from "@components/Section.astro";
import Slider from "@components/Slider.astro";
import Title from "@components/Title.astro";
import Layout from "@layouts/Layout.astro";
import { PODCAST_INFO } from "@data/PODCAST_INFO";
import Card from "@components/Card.astro";

const lastPodcast = PODCAST_INFO[PODCAST_INFO.length - 1];
---

<Layout>
  <main class="w-full h-full pt-4 pb-40">
    <Title />
    <article class="space-y-20 sm:space-y-32" aria-label="Secciones">
      <Section
        name="Festival 2024"
        href="/festivales/XIII"
        title="Frijol Mágico 2024"
      >
        <div class="flex flex-col sm:flex-row gap-8">
          <Card
            Element="a"
            href="/festivales/XIII/bases-ilustracion"
            class="after:bg-[url(/Ilustradoresbanner.png)] after:bg-cover after:w-full after:h-full after:absolute after:-z-10 after:hover:grayscale after:transition-[filter] w-full aspect-video grid place-content-center group"
          >
            <p
              class="mx-auto bg-s-pink px-6 group-hover:opacity-100 opacity-0 transition-opacity duration-150 py-3 font-galindo rounded-full"
            >
              Revisa las Bases
            </p>
          </Card>
          <Card
            Element="a"
            href="/festivales/XIII/bases-bandas"
            class="after:bg-[url(/Musicosbanner.png)] after:bg-cover after:w-full after:h-full after:absolute after:-z-10 hover:after:grayscale after:transition-[filter] w-full aspect-video grid place-content-center group"
          >
            <p
              class="mx-auto bg-s-pink px-6 group-hover:opacity-100 opacity-0 transition-opacity duration-150 py-3 font-galindo rounded-full"
            >
              Revisa las Bases
            </p>
          </Card>
        </div>
      </Section>
      <Slider slot="slider" />
      <Section name="Festivales" title="Revive: Festival Frijol Mágico 2021">
        <div class="flex flex-col sm:flex-row gap-8">
          <Card
            Element="a"
            href="festivales/XI/dia-1"
            class="w-full sm:w-1/3 aspect-video after:content-[''] after:bg-[url(/dia1.webp)] after:bg-cover hover:after:grayscale after:transition-[filter] duration-150 after:w-full after:h-full after:absolute after:inset-0 group flex items-center after:-z-10"
          >
            <p
              class="mx-auto bg-s-pink px-6 w-fit group-hover:opacity-100 lg:opacity-0 transition-opacity duration-150 py-3 font-galindo rounded-full"
            >
              Dia 1
            </p>
          </Card>
          <Card
            Element="a"
            href="festivales/XI/dia-2"
            class="w-full sm:w-1/3 aspect-video after:content-[''] after:bg-[url(/dia2.webp)] after:bg-cover after:bg-[80%] hover:after:grayscale after:transition-[filter] duration-150 after:w-full after:h-full after:absolute after:top-0 group flex items-center after:-z-10"
          >
            <p
              class="mx-auto bg-s-pink px-6 w-fit group-hover:opacity-100 lg:opacity-0 transition-opacity duration-150 py-3 font-galindo rounded-full"
            >
              Dia 2
            </p>
          </Card>
          <Card
            Element="a"
            href="festivales/XI/dia-3"
            class="w-full sm:w-1/3 aspect-video after:content-[''] after:bg-[url(/dia3.webp)] after:bg-cover after:bg-[80%] hover:after:grayscale after:transition-[filter] duration-150 after:w-full after:h-full after:absolute after:top-0 group flex items-center after:-z-10"
          >
            <p
              class="mx-auto bg-s-pink px-6 w-fit group-hover:opacity-100 lg:opacity-0 transition-opacity duration-150 py-3 font-galindo rounded-full"
            >
              Dia 3
            </p>
          </Card>
        </div>
      </Section>
      <Section name="Podcasts" title="Último Podcast">
        <Card>
          <PodcastCard id={lastPodcast.id} />
        </Card>
      </Section>
      <!-- <Section name="Talleres" title="Talleres">
        <Card class="bg-white w-full h-60" />
      </Section> -->
    </article>
  </main>
</Layout>
