---
import Layout from '@layouts/Layout.astro'
import Heading1 from '@components/atoms/Heading1.astro'
import Main from '@layouts/Main.astro'
---

<Layout>
  <Main class="!pt-0">
    <header
      class="relative w-fit flex items-center justify-center mx-auto h-screen"
    >
      <Heading1
        beforeTitle="Asociación Cultural"
        class="text-end max-w-3xl text-white shadow-white"
      >
        Frijol Mágico
      </Heading1>
    </header>
  </Main>
</Layout>
