---
import PodcastCard from "@components/PodcastCard.astro";
import Section from "@components/Section.astro";
import Slider from "@components/Slider.astro";
import Title from "@components/Title.astro";
import Layout from "@layouts/Layout.astro";
import { podcastData } from "@data/podcasts.data";

const lastPodcast = podcastData[podcastData.length - 1];
---

<Layout>
  <main class="w-full h-full pt-4 pb-40">
    <Title />
    <article class="space-y-20 sm:space-y-32" aria-label="Secciones">
      <Slider slot="slider" />
      <!-- <Section name="Festivales" title="Próximo Festival">
        <div class="bg-white w-full h-60 rounded-2xl shadow"></div>
      </Section> -->
      <Section name="Podcasts" title="Último Podcast">
        <PodcastCard podcastId={lastPodcast.id} />
      </Section>
    </article>
  </main>
</Layout>
