---
import PodcastCard from "@components/PodcastCard.astro";
import Section from "@components/Section.astro";
import Slider from "@components/Slider.astro";
import Title from "@components/Title.astro";
import Layout from "@layouts/Layout.astro";
import { podcastData } from "@data/podcasts.data";

const lastPodcast = podcastData[podcastData.length - 1];
const podcastSpotifyShow =
  "https://open.spotify.com/show/6X92bkkwHr43dTP1Y3LPyg?si=ea4b489a93d84c4e";
---

<Layout>
  <main>
    <Title />
    <Slider />
    <div>
      <Section
        sectionName="Podcasts"
        title="Último Podcast"
        href={podcastSpotifyShow}
      >
        <PodcastCard podcastId={lastPodcast.id} />
      </Section>
      <!-- <Section sectionName='Festivales' title='Útimos Festivales' link='festivales' /> -->
      <!-- <Section sectionName='Blog' title='Útimas Entradas' link='blog' /> -->
    </div>
  </main>
</Layout>

<style>
  main {
    width: 100%;
    height: 100%;
    padding-bottom: 4rem;
  }
  div {
    padding: 0 1.6rem;
  }

  @media (min-width: 640px) {
    main {
      padding-bottom: 10rem;
    }
  }
</style>
