---
import Card from "@components/Card.astro";
import PageTitle from "@components/PageTitle.astro";
import Paragraph from "@components/Paragraph.astro";
import PodcastCard from "@components/PodcastCard.astro";
import SectionTitle from "@components/SectionTitle.astro";
import { PODCASTS_LIST } from "@data/PODCAST_INFO";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Podcasts">
  <main class="grid place-items-center w-full gap-14 sm:gap-20 mb-20">
    <PageTitle>Podcasts</PageTitle>
    {
      PODCASTS_LIST.map(({ title, id, artist, description }) => (
        <section class="max-w-5xl w-full pl-6 pr-4 sm:pl-10 sm:pr-8">
          <SectionTitle>{title}</SectionTitle>
          <h3 class="font-montserrat ">
            con: <span class="font-bold">{artist}</span>
          </h3>
          <Card class="mt-2 sm:mt-4">
            <PodcastCard id={id} />
          </Card>
          <div class="flex flex-col gap-4 mt-10">
            <Paragraph text={description} class="text-sm font-montserrat" />
          </div>
        </section>
      ))
    }
  </main>
</Layout>
