---
import PageTitle from "@components/PageTitle.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Ilustradorxs">
  <main class="h-screen grid justify-center w-full">
    <PageTitle>Ilustradorxs</PageTitle>
  </main>
</Layout>
