---
import Link from "./Link.astro";
import { Image } from "astro:assets";
interface Props {
  class: string;
  artist: string;
  id: string;
  img: ImageMetadata;
}

const { class: customClass, artist, id, img } = Astro.props;
---

<li
  class:list={[
    // "relative border-2 border-white rounded-2xl w-full max-w-[15rem] sm:max-w-md h-full max-h-80 sm:max-h-[80rem] mb-4 aspect-[9/12] opacity-20 [transition:opacity_500ms_ease] shadow overflow-hidden",
    customClass,
  ]}
>
  <Image
    src={img}
    alt={`Ilustración hecha por ${artist}`}
    class="h-full w-full object-cover aspect-auto"
    height={500}
  />
  <Link
    text={artist}
    href={"/galeria/" + id}
    class="absolute bottom-5 left-5"
  />
</li>

<style is:global>
  .swiper-slide-active {
    opacity: 1;
  }
</style>
