---
import Grid from '@/components/Grid.astro'
import GridItem from '@/components/GridItem.astro'
import { SITE } from '@/data/SITE'
import Spotify from '@/components/icons/Spotify.astro'
import Instagram from '@/components/icons/Instagram.astro'
import Facebook from '@/components/icons/Facebook.astro'
---

<footer class="pb-20">
  <Grid
    class="max-w-4xl grid-cols-2 sm:grid-cols-12 grid-rows-5 sm:grid-rows-4 px-4">
    <GridItem
      as="a"
      href="/"
      rows={{ base: 1, sm: 2 }}
      cols={{ base: 2, sm: 8 }}
      class="bg-foreground py-4 text-center flex-col gap-2 text-accent sm:text-background bg-[url(/enredadera.png)] sm:bg-cover bg-no-repeat sm:bg-[0_70%] bg-[80%_80%] group">
      <p
        class="leading-6 text-2xl text-accent font-black group-hover:text-[1.6rem] duration-150">
        <span class="text-background font-bold">Volver al </span>
        Inicio
      </p>
    </GridItem>

    <GridItem
      as="a"
      href={SITE.podcast}
      rows={{ base: 2, sm: 3 }}
      cols={{ base: 1, sm: 4 }}
      class="bg-background sm:bg-accent py-4 text-center flex-col gap-2 text-accent sm:text-accent-foreground">
      <p
        class="leading-6 text-2xl text-accent row-span-2 sm:text-secondary font-black">
        Escucha <span class="text-primary sm:text-white font-bold">nuestro</span
        > Podcast
      </p>
      <Spotify size="42" />
    </GridItem>

    <GridItem as="div" cols={2} class="hidden sm:flex text-accent justify-end">
      <p class="text-xl font-black text-end">Redes Sociales</p>
    </GridItem>

    <GridItem
      as="a"
      href={SITE.social_media.ig}
      cols={{ base: 1, sm: 3 }}
      class="bg-background text-accent hover:bg-accent hover:text-primary-foreground transition duration-150 group sm:rounded-xl">
      <p class="font-bold uppercase flex gap-2 items-center">
        Instagram <Instagram size="28" />
      </p>
    </GridItem>

    <GridItem
      as="a"
      href={SITE.social_media.fb}
      cols={{ base: 1, sm: 3 }}
      class="bg-background text-secondary hover:bg-secondary hover:text-secondary-foreground transition duration-150 sm:rounded-xl">
      <p class="font-bold uppercase flex gap-2 items-center">
        Facebook <Facebook />
      </p>
    </GridItem>

    <GridItem
      as="p"
      cols={{ base: 2, sm: 6 }}
      class="bg-primary text-primary-foreground sm:rounded-xl">
      Frijol Mágico 2024 🌱
    </GridItem>

    <GridItem
      as="a"
      href="https://strocs.dev"
      cols={{ base: 2, sm: 6 }}
      class="text-secondary bg-background hover:text-accent transition duration-150 sm:rounded-xl">
      <p class="flex gap-2 items-center">Desarrollado con ❤️ por StrocsDev</p>
    </GridItem>
  </Grid>
</footer>
