<footer>
	<p>Frijol Mágico 2023 | <b>Página en Construcción</b> | Hecho con ❤ por Strocs</p>
</footer>

<style>
	footer {
		font-family: 'Courier New', Courier, monospace;
		font-size: 1.2rem;
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
	}
</style>
