---
interface Props {
  title: string
  subTitle?: string
}

const { title, subTitle } = Astro.props
---

<header class="px-2 pt-[calc(var(--top-bar-height)+2rem)] text-foreground space-y-8">
  <h1
    class="text-6xl py-2 font-black text-center text-transparent bg-gradient-to-r from-secondary to-accent bg-clip-text">
    {title} 
    {!!subTitle && <br /> <i class="text-5xl">{subTitle}</i>}
  </h1>
  <p class="font-normal max-w-prose text-center mx-auto">
    <slot/>  
  </p>
</header>
