---
interface Props {
  class?: string
}
const { class: customClass } = Astro.props
---

<main
  class:list={[
    'px-4 pt-[--top-bar-info-height] container mx-auto',
    customClass,
  ]}>
  <slot />
</main>
