<div class="flex items-center gap-4 text-lg font-extralight">
  <a class="hover:scale-110 transition-transform duration-150" href="/"
    >Inicio</a
  >
  <a
    class="hover:scale-110 transition-transform duration-150"
    href="/ilustradorxs">Ilustradorxs</a
  >
  <a
    class="hover:scale-110 transition-transform duration-150"
    href="/festivales">Festivales</a
  >
  <a class="hover:scale-110 transition-transform duration-150" href="/podcasts"
    >Podcasts</a
  >
  <a class="hover:scale-110 transition-transform duration-150" href="/talleres"
    >Talleres</a
  >

  <!-- <div class="header__button-hamburger"></div> -->
</div>
