---
import Link from "./Link.astro";

interface Props {
  name: string;
  title: string;
  class?: string;
}

const { name, title, class: customClass } = Astro.props;

const href = `/${name.toLowerCase()}`;
---

<section
  class:list={["h-fit w-full grid gap-4 max-w-5xl mx-auto", customClass]}
>
  <div class="flex justify-between items-end px-4 sm:px-8 gap-2 w-full">
    <h2
      class="text-2xl sm:text-4xl lg:text-5xl leading-none font-bold tracking-tight"
    >
      {title}
    </h2>
    <Link text={`Ir a ${name}`} href={href} />
  </div>
  <div class="pl-6 pr-4 sm:pl-10 sm:pr-8 w-full">
    <slot />
  </div>
  <slot name="slider" />
</section>
