---
import SliderCard from "./SliderCard.astro";
import { ARTISTS_INFO } from "@data/ARTISTS_INFO";
import Link from "./Link.astro";
---

<div
  class="swiper w-full h-full touch-pan-y mx-auto space-y-8 relative overflow-hidden block"
>
  <header
    class="flex items-end justify-between font-galindo px-4 sm:px-8 gap-2 w-full max-w-5xl mx-auto"
  >
    <h2 class="text-2xl sm:text-5xl leading-none">Conoce a lxs Ilustradoxs</h2>
    <Link text={`Ir a Ilustradorxs`} href="/ilustradorxs" />
  </header>
  <ul class="swiper-wrapper relative w-full h-full flex transition-transform">
    {
      ARTISTS_INFO.map(({ artist, id }) => {
        return <SliderCard artist={artist} id={id} />;
      })
    }
  </ul>
</div>

<script>
  import Swiper from "swiper/bundle";

  const swiper = new Swiper(".swiper", {
    slidesPerView: "auto",
    centeredSlides: true,
    loop: true,
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },
  });
</script>
