---
import Card from './Card.astro'
import { artistsData } from '../data/artists.data.js'

const shuffleData = artistsData.sort(() => Math.random() - 0.5)
---

<script>
	import Swiper from 'swiper/bundle'
	import 'swiper/css'
	const swiper = new Swiper('.swiper', {
		slidesPerView: 'auto',
		spaceBetween: 50,
		grabCursor: true,
		centeredSlides: true,
		loop: true,
		autoplay: {
			delay: 3000,
			disableOnInteraction: false
		},
		breakpoints: {
			1024: {
				spaceBetween: 185
			},
			640: {
				spaceBetween: 90
			}
		}
	})
</script>

<section class='swiper'>
	<div class='swiper-wrapper'>
		{
			shuffleData.map(({ artist, id, images }) => (
				<Card className='swiper-slide' artist={artist} id={id} img={images[0]} />
			))
		}
	</div>
</section>

<style>
	.swiper {
		width: 100%;
		height: 100%;
	}
	.swiper-slide {
		width: 20rem;
		height: 25rem;
		margin: 2rem 0;
		opacity: 0.2;
		transition: opacity 500ms ease;
	}
	.swiper-slide-active {
		opacity: 1;
	}

	@media (min-width: 1024px) {
		.swiper-slide {
			width: 40rem;
			height: 50rem;
		}
	}
	@media (min-width: 640px) {
		.swiper-slide {
			width: 40rem;
			height: 50rem;
		}
	}
</style>
