<h1>
	<span>Asociación Cultural</span>
	Frijol Mágico
</h1>

<style>
	h1 {
		display: grid;
		text-align: center;
		width: 100%;
		font-size: 4.8rem;
		padding-top: 15rem;
		padding-bottom: 5rem;
	}
	span {
		font-size: 2rem;
		letter-spacing: 0.3rem;
	}

	@media (min-width: 640px) {
		h1 {
			font-size: 9.6rem;
		}
	}
</style>
