<h1
  class="mx-auto w-fit pb-20 text-xl sm:text-2xl lg:text-xl font-extralight tracking-widest"
>
  Asociación Cultural
  <span
    class="block text-[3.5rem] sm:text-8xl font-thickedy lg:text-[16rem] pb-4 pt-3 sm:-mt-6 tracking-tight text-transparent bg-clip-text bg-[url(/m5.png)] bg-top font-black [text-shadow:0_0_.4rem_#ffcd6950] sm:[text-shadow:0_0_2rem_#ffcd6950]"
    >Frijol Mágico</span
  >
</h1>

<style>
  span {
    animation: paper 5s steps(5) infinite;
  }
  @keyframes paper {
    to {
      background-position: bottom;
    }
  }
</style>
