---
import LinkArrow from '../icons/LinkArrow.astro'
const { text, href, class: customClass } = Astro.props
---

<a
  class:list={[
    'text-white rounded-full w-fit pt-1 sm:px-6 sm:pt-2 sm:pb-[0.46rem] pb-[0.2rem] px-4 shrink-0 bg-s-pink',
    'hover:bg-s-yellow transition-colors duration-150',
    customClass,
  ]}
  href={href}
>
  <p class="inline-block font-galindo">{text}</p>
  <LinkArrow />
</a>
