---
import LinkArrow from '../icons/LinkArrow.astro'
interface Props {
  text: string
  href: string
  class?: string
  target?: '' | '_blank'
}
const { text, href, class: customClass, target = '' } = Astro.props
---

<a
  target={target}
  class:list={[
    'text-white rounded-full w-fit px-4 py-1 sm:px-6 sm:py-2 shrink-0 bg-s-pink',
    'hover:bg-s-yellow transition-colors duration-150',
    customClass,
  ]}
  href={href}
>
  <p class="inline-block font-galindo">{text}</p>
  <LinkArrow />
</a>
