---
interface Props {
  class?: string;
  classList?: string[];
}

const { class: customClass, classList } = Astro.props;

const defaultSize =
  !classList && "text-6xl md:text-9xl xl:text-[12rem] 2xl:text-[16rem]";

console.log(!classList);
---

<h1
  class:list={[
    customClass,
    classList,
    defaultSize,
    "pb-2 -mt-2 w-fit mx-auto font-thickedy tracking-tight text-transparent bg-clip-text bg-[url(/m5.webp)] bg-top font-black [text-shadow:0_0_.4rem_#ffcd6950] sm:[text-shadow:0_0_2rem_#ffcd6950]",
  ]}
>
  <slot />
</h1>
