---
import HamburguerButton from '../atoms/HamburguerButton.astro'

interface Props {
  for?: 'footer' | 'header'
}

const { for: on = 'header' } = Astro.props

const isFooter = on === 'footer'
---

<nav
  role="navigation"
  class:list={[
    isFooter ? 'flex' : 'flex',
    'w-full h-full items-center justify-end text-white',
  ]}
>
  {!isFooter && <HamburguerButton />}
  <div
    id="nav_list"
    class:list={[
      'items-center text-lg font-extralight shrink-0 w-full xl:w-fit',
      'peer-checked:flex peer-checked:absolute peer-checked:bg-p-blue peer-checked:bg-opacity-50 peer-checked:backdrop-blur-xl peer-checked:z-40 peer-checked:inset-0 peer-checked:flex-col peer-checked:items-center peer-checked:pt-40 peer-checked:text-2xl peer-checked:uppercase peer-checked:font-Sheiron',
      isFooter
        ? 'flex flex-col md:flex-row gap-3'
        : 'xl:flex hidden gap-4 h-screen xl:h-fit',
    ]}
  >
  </div>
</nav>

<script>
  const loadScript = () => {
    const toggleBtn = document.querySelector(
      '#toggle-nav-btn'
    ) as HTMLInputElement
    const body = document.querySelector('body') as HTMLBodyElement
    toggleBtn?.addEventListener('change', () => {
      if (toggleBtn.checked) return (body.style.overflow = 'hidden')
      body.style.overflow = ''
    })
  }

  document.addEventListener('astro:page-load', loadScript)
  if (!document.startViewTransition) loadScript()
</script>
