---
import Heading1 from '@components/atoms/Heading1.astro'
import Layout from '@layouts/Layout.astro'
import Main from '@layouts/Main.astro'
---

<Layout title="Festivales">
  <Main>
    <Heading1 beforeTitle="Festivales Frijol Mágico" class="h-screen">
      Próximamente
    </Heading1>
  </Main>
</Layout>
