---
import PageTitle from "@components/atoms/PageTitle.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Festivales">
  <main class="h-screen grid justify-center w-full">
    <PageTitle>Festivales</PageTitle>
  </main>
</Layout>
