---
import Footer from '@/components/Footer.astro'
import { Selected } from '@/components/Selected.tsx'
import { SELECTED_HEADER_INFO } from '@/data/CONSTANTS'
import Layout from '@/layouts/Layout.astro'
import Main from '@/components/Main.astro'
import { GoogleSpreadsheet } from 'google-spreadsheet'
import DoodleLine from '@/components/ui/DoodleLine.astro'

const doc = new GoogleSpreadsheet(import.meta.env.SELECTED_SHEET_ID, {
  apiKey: import.meta.env.GOOGLE_API_KEY,
})

await doc.loadInfo()
const sheet = doc.sheetsByIndex[2]
const rows = await sheet.getRows()

const parsedRows = rows.map((row) => {
  return {
    TrabajasEn: row.get(SELECTED_HEADER_INFO.CATEGORY),
    Nick: row.get(SELECTED_HEADER_INFO.NICK),
    SocialMedia: row.get(SELECTED_HEADER_INFO.SOCIAL_MEDIA),
  }
})
---

<Layout title="Seleccionados Frijol M치gico 2024">
  <Main class="space-y-8 min-h-[96dvh]">
    <h1
      class="text-6xl py-10 font-black text-center tracking-tight bg-clip-text text-transparent bg-gradient-to-r from-secondary to-accent">
      Selecci칩n Frij칩l M치gico 2024
    </h1>
    <DoodleLine color="text-primary" />
    <Selected rows={parsedRows} client:idle />
  </Main>
  <DoodleLine color="text-primary" />
  <Footer />
</Layout>
