---
import Card from '../atoms/Card.astro'
import Section from '../molecules/Section.astro'
---

<Section title="Convocatoria 2024!">
  <div class="flex flex-col sm:flex-row gap-8">
    <Card
      Element="a"
      href="/festivales/XIII/convocatoria-ilustracion"
      class="after:bg-[url(/Ilustradoresbanner.png)] after:bg-cover after:w-full after:h-full after:absolute after:-z-10 after:hover:grayscale after:transition-[filter] w-full aspect-video grid place-content-center group"
    >
      <p
        class="mx-auto bg-s-pink px-6 group-hover:opacity-100 opacity-0 transition-opacity duration-150 py-3 font-galindo rounded-full"
      >
        Revisa las Bases
      </p>
    </Card>
    <Card
      Element="a"
      href="/festivales/XIII/convocatoria-musica"
      class="after:bg-[url(/Musicosbanner.png)] after:bg-cover after:w-full after:h-full after:absolute after:-z-10 hover:after:grayscale after:transition-[filter] w-full aspect-video grid place-content-center group"
    >
      <p
        class="mx-auto bg-s-pink px-6 group-hover:opacity-100 opacity-0 transition-opacity duration-150 py-3 font-galindo rounded-full"
      >
        Revisa las Bases
      </p>
    </Card>
  </div>
</Section>
