---
import Grid from '@/layouts/Grid.astro'
import GridCard from './GridCard.astro'
import { SITE } from '@/data/SITE'
import Spotify from '../icons/Spotify.astro'
import Instagram from '../icons/Instagram.astro'
import Facebook from '../icons/Facebook.astro'
---

<Grid class="sm:grid-cols-10 sm:grid-rows-6 grid-cols-2 grid-rows-6 h-3/4">
  <GridCard
    as="section"
    row={1}
    col={8}
    class="bg-dark-green text-white text-xl sm:text-3xl bg-[url(/enredadera.png)] sm:bg-cover bg-no-repeat sm:bg-[0_70%] bg-[80%_80%] flex-col p-4"
  >
    <h1 class="font-black text-center">Festival Frijol Mágico</h1>
    <h2 class="normal-case text-lg font-medium text-center leading-5">
      Un nuevo germinar 🌱
    </h2>
  </GridCard>

  <GridCard as="div" row={4} col={2} class="bg-light-green" />

  <GridCard
    as="a"
    row={5}
    col={2}
    href="/un-nuevo-germinar"
    class="bg-gradient-to-tr from-orange to-yellow text-white px-4 py-4 sm:py-0"
  >
    <h2 class="text-2xl sm:text-2xl text-center leading-7 sm:leading-6">
      <span class="text-xl sm:text-3xl block sm:leading-7 font-bold text-yellow"
        >Conoce</span
      >
      a lxs
      <b class="font-black">Participantes</b>
      <span
        class="text-yellow font-black text-2xl sm:text-4xl hidden sm:inline-block"
        >Aquí</span
      >
      <span class="block mt-2">🌟</span>
    </h2>
  </GridCard>

  <GridCard
    as="section"
    row={3}
    col={6}
    class="bg-slate-700 text-light-green sm:p-8 p-4"
  >
    <h2
      class="text-white text-4xl sm:text-[5rem] text-wrap text-center sm:text-right leading-none"
    >
      PROXIMAMENTE
    </h2>
  </GridCard>

  <GridCard
    as="div"
    row={2}
    col={4}
    class="col-span-4 row-span-2 bg-light-green"
  />

  <GridCard
    as="a"
    row={2}
    col={2}
    href={SITE.podcast}
    class="bg-white sm:bg-yellow py-4 text-center flex-col gap-2 hover:gap-0 text-yellow sm:text-white"
  >
    <p class="leading-6 text-2xl text-yellow sm:text-orange font-black">
      Escucha <span class="text-light-green sm:text-white font-bold"
        >nuestro</span
      > Podcast
    </p>
    <Spotify size="42" />
  </GridCard>

  <GridCard
    as="a"
    row={1}
    col={2}
    href={SITE.social_media.ig}
    class="bg-white text-light-green hover:bg-light-green hover:text-white transition duration-150 group"
  >
    <p class="flex gap-2 items-center">Instagram <Instagram size="28" /></p>
  </GridCard>

  <GridCard
    as="a"
    row={1}
    col={2}
    href={SITE.social_media.fb}
    class="bg-white text-orange hover:bg-orange hover:text-white transition duration-150"
  >
    <p class="flex gap-2 items-center">Facebook <Facebook /></p>
  </GridCard>
</Grid>
