---
import SliderCard from '../molecules/SliderCard.astro'
import { ARTISTS_INFO } from '@data/ARTISTS_INFO'
---

<section
  class="swiper w-full h-full touch-pan-y mx-auto space-y-8 relative overflow-hidden block"
>
  <!-- <SectionTitle
    withLink={{ text: "Ir a Ilustradorxs", href: "/ilustradorxs" }}
    class="max-w-5xl mx-auto px-4 sm:px-8"
  >
    Conoce a lxs artistas
  </SectionTitle> -->
  <ul class="swiper-wrapper relative w-full h-full flex transition-transform">
    {
      ARTISTS_INFO.map(({ artist, id }) => {
        return <SliderCard artist={artist} id={id} />
      })
    }
  </ul>
</section>

<script>
  import Swiper from 'swiper/bundle'

  const swiper = new Swiper('.swiper', {
    slidesPerView: 'auto',
    centeredSlides: true,
    loop: true,
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },
  })
</script>
