---
import PodcastCard from '../molecules/PodcastCard.astro'
import Section from '../molecules/Section.astro'
import { PODCASTS_LIST } from '@data/PODCAST_INFO'

const lastPodcast = PODCASTS_LIST[PODCASTS_LIST.length - 1]
---

<Section
  withLink={{ text: 'Ir a Podcasts', href: '/podcasts' }}
  title="Último Podcast"
>
  <PodcastCard id={lastPodcast.id} />
</Section>
