---
interface Props {
  class?: string
  grid?: string
}
const {
  class: customClass,
  grid = 'sm:grid-cols-12 sm:grid-rows-[repeat(6,minmax(0,80px))] grid-cols-2',
} = Astro.props
---

<section
  class:list={[
    'grid  place-content-center gap-4 max-w-4xl mx-auto relative',
    grid,
    customClass,
  ]}
>
  <slot />
</section>
