---
interface Props {
  class?: string
}

const { class: customClass } = Astro.props
---

<section
  class:list={[
    'grid place-content-center gap-4 container mx-auto relative',
    customClass,
  ]}>
  <slot />
</section>
