---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { SITE_INFO } from "@data/SITE_INFO";

interface Props {
  title?: string;
  description?: string;
}

const { title = SITE_INFO.title, description = SITE_INFO.description } =
  Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="lenguage" content="spanish" />
    <meta name="author" content="Frijol Mágico" />
    <meta name="audience" content="all" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href={SITE_INFO.logo} />
    <meta name="generator" content={Astro.generator} />
    <title>{`Frijol Mágico | ${title}`}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Galindo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body
    class:list={[
      "font-montserrat bg-p-blue relative h-fit w-full min-h-[100dvh] text-white",
      " after:content-[url(/ramaRight.png)] after:fixed after:top-[-34rem] sm:after:top-[-24rem] lg:after:top-[-38rem] after:-z-10 after:scale-[0.6] md:after:scale-[0.8] lg:after:scale-90 after:right-[-30rem] lg:after:right-[-26rem] xl:after:right-[-20rem]",
      " before:content-[url(/ramaLeft.png)] before:fixed before:top-[-26rem] sm:before:top-[-24rem] lg:before:top-[-38rem] before:-z-10 before:scale-[0.6] md:before:scale-[0.8] lg:before:scale-90 before:left-[-30rem] lg:before:left-[-26rem] xl:before:left-[-20rem]",
    ]}
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --p-blue: #0d2a66;
    --s-pink: #fa2678;
    --s-yellow: #ffcd69;
  }

  @font-face {
    font-family: Thickedy;
    src: url(/fonts/ThickedyQuick.woff2);
  }
</style>
