---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { SITE_INFO } from "@data/SITE_INFO";

interface Props {
  title?: string;
  description?: string;
}

const { title = SITE_INFO.title, description = SITE_INFO.description } =
  Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="lenguage" content="spanish" />
    <meta name="author" content="Frijol Mágico" />
    <meta name="audience" content="all" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href={SITE_INFO.logo} />
    <meta name="generator" content={Astro.generator} />
    <title>{`Frijol Mágico | ${title}`}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Galindo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body
    class:list={[
      "font-montserrat bg-p-blue relative h-fit w-full min-h-[100dvh] text-white",
      " after:content-[url(/rama.png)] after:-scale-x-100 after:fixed after:h-full after:-right-1/4 after:bottom-80 after:-z-10",
      " before:content-[url(/rama.png)] before:fixed before:h-full before:-left-1/4 before:bottom-80 before:-z-10",
    ]}
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --p-blue: #0d2a66;
    --s-pink: #fa2678;
    --s-yellow: #ffcd69;
  }

  @font-face {
    font-family: Thickedy;
    src: url(/fonts/ThickedyQuick.woff2);
  }

  body {
    background-image: url(background.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;

    background-blend-mode: color;
  }
</style>
